{% load i18n %}

{% if request.user.is_authenticated %}
    {% if perms.app.view_stats %}
        <li>
            <a href="{% url 'yaga:stats:basic' %}">
                <i class="fa fa-bar-chart"></i>
                {% trans 'Basic Stats' %}
            </a>
        </li>
    {% endif %}
    {% if perms.accounts %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                {% trans 'Users' %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                {% if perms.accounts.view_user %}
                    <li>
                        <a href="{% url 'yaga:user:list' %}">
                            {% trans 'List' %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
    {% if perms.yaga %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                {% trans 'Yaga' %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                {% if perms.yaga.view_post %}
                    <li>
                        <a href="{% url 'yaga:post:list' %}">
                            {% trans 'Post List' %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endif %}
