<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="{{ sign_s3.endpoint }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="key" value="{{ sign_s3.fields.key }}" /><br />
        <input type="hidden" name="acl" value="{{ sign_s3.fields.acl}}" />
        <input type="hidden" name="success_action_status" value="{{ sign_s3.fields.success_action_status }}" />
        <input type="hidden" name="policy" value="{{ sign_s3.fields.policy}}" />
        <input type="hidden" name="signature" value="{{ sign_s3.fields.signature }}" />
        <input type="hidden" name="AWSAccessKeyId" value="{{ sign_s3.fields.access_key }}" />
        <input type="hidden" name="Content-Type" value="{{ sign_s3.fields.content_type }}" /><br />
        <input type="file" name="file" /> <br />
        <input type="submit" name="submit" value="Upload" />
    </form>
    {{ post.attachment.url }}
    <a href="{{ post.attachment.url }}">click</a>
</html>
