amqp==1.4.6
anyjson==0.3.3
apns-clerk==0.1.2
bcrypt==1.1.1
billiard==3.3.0.20
boto==2.38.0
caniusepython3==3.2.0
cchardet==0.3.5
celery==3.1.18
cffi==0.8.6
chardet==2.3.0
click==4.0
closure==20150315
Collectfast==0.2.3
cookies==2.2.1
coverage==3.7.1
cryptography==0.7.1
Cython==0.22
distlib==0.2.0
dj-database-url==0.3.0
Django==1.8.2
django-activeurl==0.1.8
django-appconf==1.0.1
django-bower==5.0.4
django-braces==1.8.0
django-cached-authentication-middleware==0.2.1
django-celery==3.1.16
django-celery-email==1.1.1
django-classy-tags==0.6.1
django-clear-cache==0.3
django-compat==1.0.6
django-compressor==1.5
-e git://github.com/jezdez/django-configurations@5ece1070448d3e026b81422691c60207f5699c0c#egg=django_configurations-master
django-crispy-forms==1.4.0
django-debug-toolbar==1.3.0
django-debug-toolbar-template-timings==0.6.4
django-extensions==1.5.5
django-extra-views==0.7.0
django-filter==0.10.0
django-flanker==0.3.0
django-grappelli==2.6.5
django-guardian==1.3
django-heroku-memcacheify==0.8
django-hijack==1.0.7
django-mailviews==0.6.3
django-mobile==0.5.0
django-model-utils==2.2
django-multiurl==1.0.1
django-nose==1.4
django-phonenumber-field==0.7.2
django-pickling==0.1
django-prefetch==1.0.0
django-pylibmc==0.6.0
django-pylibmc-sasl==0.2.4
django-redis==4.0.0
django-redis-sessions-fork==0.6.2
django-rest-swagger==0.3.2
django-reversion==1.8.7
django-secure==1.0.1
django-storages-redux==1.2.3
django-templates-macros==0.1
django-transaction-hooks==0.2
djangorestframework==3.1.2
djorm-pgarray==1.2
dnspython==1.11.1
dnsq==1.1.3
docopt==0.6.2
docutils==0.12
drf-extensions==0.2.7
drf-ujson==1.2
ecdsa==0.11
enum34==1.0.4
expiringdict==1.1.3
Fabric==1.10.1
flake8==2.4.0
flake8-blind-except==0.1.0
flake8-debugger==1.3.2
flake8-print==1.5.0
flake8-quotes==0.0.1
flanker==0.4.29
frosted==1.4.1
future==0.14.3
futures==3.0.2
gcm-clerk==0.1.5
geoip2==2.1.0
gevent==1.0.2
gnureadline==6.3.3
greenlet==0.4.7
gunicorn==19.3.0
hiredis==0.2.0
honcho==0.6.6
httpie==0.9.2
ipaddr==2.1.11
ipaddress==1.0.7
ipdb==0.8.1
ipython==3.1.0
isort==3.9.6
jedi==0.8.1
kombu==3.0.26
librabbitmq==1.6.1
lxml==3.4.4
Markdown==2.5.2
maxminddb==1.2.0
mccabe==0.3
meinheld==0.5.7
mock==1.0.1
mongoengine==0.9.0
msgpack-python==0.4.6
natsort==3.5.1
netaddr==0.7.14
newrelic==2.50.0.39
nltk==3.0.2
nose==1.3.7
paramiko==1.15.2
pep8==1.5.7
pep8-naming==0.2.2
pgcli==0.17.0
phonenumbers==7.0.5
pies==2.6.3
pies2overrides==2.6.3
Pillow==2.8.2
pip-tools==0.3.6
pipdeptree==0.4.2
pluggy==0.3.0
prompt-toolkit==0.37
psycopg2==2.6
py==1.4.26
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
pyflakes==0.8.1
Pygments==2.0.2
pylibmc==1.4.3
pymongo==2.8
pyOpenSSL==0.15.1
python-dateutil==2.4.2
python-decouple==2.3
python-magic==0.4.6
pytz==2015.4
PyYAML==3.11
raven==5.3.1
redis==2.10.3
regex==2015.6.9
requests==2.7.0
responses==0.4.0
rest-condition==1.0.1
six==1.9.0
socket.io-emitter==0.1.3
SQLAlchemy==1.0.5
sqlparse==0.1.14
tox==2.0.2
ujson==1.33
uWSGI==2.0.10
virtualenv==13.0.3
wcwidth==0.1.4
WebOb==1.4.1
Werkzeug==0.10.4
yuicompressor==2.4.8
