<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ g.locale }}"> <!--<![endif]-->
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
            {% endblock %}

            {% block csrf %}
                <meta name="csrf-token" content="{{ csrf_token() }}">
            {% endblock %}

            {% block seo %}
                <title>{% block title %}{{ _('Title') }}{% endblock %}</title>
                <meta name="description" content="{% block description %}{{ _('description') }}{% endblock %}">
            {% endblock %}

            {% block css %}
                {% include 'blocks/css.html' %}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block nav %}
                {% include 'blocks/nav.html' %}
            {% endblock %}

            {% block container %}
                <div class="container">
                    {% block messages %}
                        {% include 'blocks/messages.html' %}
                    {% endblock %}

                    {% block content %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ _('Info') }}
                            </div>
                        </div>
                    {% endblock %}

                    <hr>

                    {% block footer %}
                        {% include 'blocks/footer.html' %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}

        {% block gettext %}
            <link href="{{ url_for('static', filename='translations/' + g.locale + '.json') }}" lang="{{ g.locale }}" rel="gettext" />
        {% endblock %}

        {% block js %}
            {% include 'blocks/js.html' %}
        {% endblock %}
    </body>
</html>
