{% extends 'base.html' %}

{% load i18n %}

{% load activeurl %}

{% block container %}
    <div class="row">
        {% block breadcrumbs %}
            <div class="col-md-12">
                <ol class="breadcrumb">
                    {% block breadcrumbs_list %}
                        <li>
                            <a href="{% url 'index' %}">
                                {% trans 'Index' %}
                            </a>
                        </li>
                    {% endblock %}
                    <li class="active">
                        {% block breadcrumbs_active %}
                        {% endblock %}
                    </li>
                </ol>
            </div>
        {% endblock %}

        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
