html,
body
  height 100%

body
  padding-top 60px

.asteriskField
  display none

.modal
  overflow auto

.float-left
  float left !important

.float-right
  float right !important

.clear-both
  clear both
