{% extends 'yaga/post/list.html' %}

{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}
    |
    {{ post.pk }}
{% endblock %}

{% block breadcrumbs_list %}
    {{ block.super }}
    <li>
        <a href="{% url 'yaga:post:list' %}">
            {% trans 'List' %}
        </a>
    </li>
{% endblock %}

{% block breadcrumbs_active %}
    {{ post.pk }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 well">
            {% crispy form %}
        </div>
    </div>
{% endblock %}

