{% extends 'yaga/post/list.html' %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}
    |
    {{ post.pk }}
{% endblock %}

{% block breadcrumbs_list %}
    {{ block.super }}
    <li>
        <a href="{% url 'yaga:post:list' %}">
            {% trans 'List' %}
        </a>
    </li>
{% endblock %}

{% block breadcrumbs_active %}
    {{ post.pk }}
{% endblock %}

{% block content %}
    {% if post.attachment %}
        {% if perms.yaga.view_post %}
            <div class="row">
                <div class="col-md-offset-2 col-md-7 well">
                    <h3>
                        {% trans 'Attachment' %}
                    </h3>
                    <hr>
                    <video data-setup='{"controls": true, "autoplay": false, "preload": "none", "loop": "true", "width": 640, "height": 480}' id="attachment" class="video-js vjs-default-skin vjs-big-play-centered">
                        <source src="{{ post.attachment.url }}" type='video/mp4' />
                    </video>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-md-offset-1 col-md-10 well">
            {% crispy form %}
        </div>
    </div>
{% endblock %}

