{% extends 'content.html' %}

{% load i18n %}

{% block title %}
    {{ block.super }}
    |
    {% trans 'Basic Stats' %}
{% endblock %}

{% block breadcrumbs_list %}
    {{ block.super }}
    <li>
        <a href="{% url 'yaga:stats:base' %}">
            {% trans 'Stats' %}
        </a>
    </li>
{% endblock %}


{% block breadcrumbs_active %}
    {% trans 'Basic Stats' %}
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    {% trans 'Stat' %}
                </th>
                <th>
                    {% trans 'Total' %}
                </th>
                <th>
                    {% trans 'Today' %}
                </th>
            </tr>
            <tr>
                <td>
                    {% trans 'Users' %}
                </td>
                <td>
                    {{ stats.total.users }}
                </td>
                <td>
                    {{ stats.today.users }}
                </td>
            </tr>
            <tr>
                <td>
                    {% trans 'Members' %}
                </td>
                <td>
                    {{ stats.total.members }}
                </td>
                <td>
                    {{ stats.today.members }}
                </td>
            </tr>
            <tr>
                <td>
                    {% trans 'Groups' %}
                </td>
                <td>
                    {{ stats.total.groups }}
                </td>
                <td>
                    {{ stats.today.groups }}
                </td>
            </tr>
            <tr>
                <td>
                    {% trans 'Posts' %}
                </td>
                <td>
                    {{ stats.total.posts }}
                </td>
                <td>
                    {{ stats.today.posts }}
                </td>
            </tr>
            <tr>
                <td>
                    {% trans 'Likes' %}
                </td>
                <td>
                    {{ stats.total.likes }}
                </td>
                <td>
                    {{ stats.today.likes }}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
