<!DOCTYPE html>
<html style="border-top-color:rgba(236,0,140,1); border-top-width:10px; border-top-style:solid;">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="http://vjs.zencdn.net/5.4.4/video-js.css" rel="stylesheet">

      <!-- If you'd like to support IE8 -->
      <script src="http://vjs.zencdn.net/ie8/1.1.1/videojs-ie8.min.js"></script>

    </head>

    <body >
        <a href="/" style="position:absolute; left: 20px; top:20px;">
          <div style="z-index:10000; width:40px; height:40px; background-image:url(http://i.imgur.com/3hEJ8lL.png); background-size: 40px 40px;"></div>
        </a>
        <img  src="">
        <div style="width:100%; max-width:480px; margin:0 auto;">            
        <video id="video" class="video-js" autoplay loop data-setup='{"fluid":"true","aspectRatio":"3:4"}'>
        <source src="{{ post.attachment.url }}" type='video/mp4'>

             <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        <div>
            <h3 style="float:left;font-family:sans-serif; color:gray;">- jtdaugh</h3>
            

        <a href="/" style="margin-top:10px; float:right;">
          <div style="width:140px; height:40px; background-image:url(http://www.paraglidingmap.com/images/available-on-the-app-store.png); background-size:140px 40px;"></div>
        </a>

        </div>
       </div>
      <script src="http://vjs.zencdn.net/5.4.4/video.js"></script>
    </body>
</html>