<!DOCTYPE html>
<html style="border-top-color:rgba(236,0,140,1); border-top-width:7px; border-top-style:solid;">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://vjs.zencdn.net/5.4.4/video-js.css" rel="stylesheet">

      <!-- If you'd like to support IE8 -->
      <script src="https://vjs.zencdn.net/ie8/1.1.1/videojs-ie8.min.js"></script>

    </head>

    <body>
        <a href="/" style="position:absolute; left: 20px; top:20px;">
          <div style="z-index:10000; width:44px; height:44px; background-image:url(http://i.imgur.com/3hEJ8lL.png); background-size: 44px 44px;"></div>
        </a>
        <div style="width:100%; max-width:480px; margin:0 auto 5px;">            
        <video id="yaga-video" class="video-js" style="max-width:100%" autoplay controls loop data-setup='{aspectRatio":"3:4"}'>
            <!-- <video id="yaga-video" class="video-js" autoplay loop data-setup='{}'> -->

        <source src="{{ post.attachment.url }}" type='video/mp4'>
             <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        
          

        <div style="margin-top:5px;">
        
        {% if post.name %}
        <div style="float:left; margin-top:3px;margin-right:12px; font-size:30px; font-weight:bold; font-family:sans-serif; color:rgb(236,0,140)">
            "{{ post.name }}"
        </div>
        {% endif %}

        <a href="https://itunes.apple.com/us/app/yaga-instant-video-messaging/id976285308" style="float:right;">
            <div style="width:140px; height:40px; background-image:url(http://www.paraglidingmap.com/images/available-on-the-app-store.png); background-size:140px 40px;">
            </div>
        </a>            

        </div>
        <h3 style="margin:10px 0 2px; float:left;font-family:sans-serif; color:gray;">-{{ username }}</h3>

       </div>

      <script src="https://vjs.zencdn.net/5.4.4/video.js"></script>

    <script type="text/javascript">
      // Once the video is ready
      videojs('yaga-video').ready(function(){

        var myPlayer = this;    // Store the video object
        var aspectRatio = 4/3; // Make up an aspect ratio

        function resizeVideoJS(){
          // Get the parent element's actual width
          var width = document.getElementById(myPlayer.id_).parentElement.offsetWidth;
          // Set width to fill parent element, Set height
          myPlayer.width(width).height( width * aspectRatio );
        }

        resizeVideoJS(); // Initialize the function
        window.onresize = resizeVideoJS; // Call the function on resize
      });
    </script>
    </body>
</html>