{% extends 'content.html' %}

{% load i18n %}
{% load static %}

{% load compress %}
{% load crispy_forms_tags %}

{% load paginator %}

{% block title %}
    {{ block.super }}
    |
    {% trans 'Group' %}
    |
    {% trans 'List' %}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% compress css %}
         <link rel="stylesheet" type="text/stylus" href="{% static 'yaga/stylus/filter.styl' %}">
    {% endcompress %}
{% endblock %}

{% block breadcrumbs_list %}
    {{ block.super }}
    <li>
        <a href="{% url 'yaga:group:base' %}">
            {% trans 'Group' %}
        </a>
    </li>
{% endblock %}

{% block breadcrumbs_active %}
    {% trans 'List' %}
{% endblock %}

{% block content %}
    <div class="text-center">
        {% crispy filter.form %}
    </div>

    <hr>

    <div class="text-center">
        <h2>
            {% trans 'Total' %}: {{ paginator.count }}
        </h2>
    </div>

    <hr>

    {% paginator page_obj %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    {% trans 'Id' %}
                </th>
                <th>
                    {% trans 'Name' %}
                </th>
                <th>
                    {% trans 'Created At' %}
                </th>
                <th>
                    {% trans 'Posts' %}
                </th>
                <th>
                    {% trans 'Users' %}
                </th>
            </tr>
            {% for group in groups %}
                <tr>
                    <td>
                        <a href="{% url 'yaga:group:detail' group_id=group.pk %}">
                            {{ group.pk }}
                        </a>
                    </td>
                    <td>
                        {{ group.name }}
                    </td>
                    <td>
                        {{ group.created_at }}
                    </td>
                    <td>
                        {% if perms.yaga.view_post %}
                            <a href="{% url 'yaga:post:list' %}?group={{ group.pk | urlencode }}">
                                {{ group.post_set.count }}
                            </a>
                        {% else %}
                            {{ group.post_set.count }}
                        {% endif %}
                    </td>
                    <td>
                        {{ group.member_set.count }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% paginator page_obj %}
{% endblock %}

